/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
nbproject/*
public/.DS_Store
public/asset_new/.DS_Store
public/asset_new/img/.DS_Store
.DS_Store
